@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: Beliago;
    src: url(./Fonts/BeliagoDemoRegular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8ef;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500 ;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
   color: #560ae3;
}

section {
    padding-top: 80px;
    height: 100vh;
}


.navbar {
    z-index: 200;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.logo-name {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-image {
    margin: 10px 10px 0 5px;
    height: 50px;
    transform: rotate(45deg);
}

.name {
    font-family: Beliago;
    font-size: 30px;
}

.navbar-contents {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-contents li {
    font-family: "Roboto";
    border-right: 1px solid black;
    height: 20px;
    padding-right: 5px;
    list-style: none;
}

.home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-image: url(images/Background-image.jpg);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.introduction,
.about {
    margin: 0 10px 0 10px;
    padding: 10px 10px 0 10px;
    font-family: roboto;
    position: absolute;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.about {
    line-height: 30px;
    bottom: 25px;
    left: 20px;
    width: 410px;
    height: 400px;
    right: 1050px;
}

.about-me {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500 ;
}

.introduction {
    width: 230px;
    height: 145px;
    margin-left: 450px;
    top: 85px;
    right: 20px;
}

.greetings {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500 ;
}

.name-introduction {
    font-size: 30px;
}

.download-button {
    position: fixed;
    left: 10px;
    z-index: 200;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    border: 1px solid black;
    align-items: center;
    background-color: #eae5e5;
    top: 85px;
}

.download-button img {
    margin-left: 5px;
    height: 15px;
}

.name-introduction span {
    text-decoration: underline;
}

.projects {
    position: relative;
}

.projects-contents {
    display: flex;
}

.project-images {
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 43%;
}

.project-images img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.cancer-cell,
.cancer-research-illustration {
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
}

.cancer-cell {
    left: 2%;
    top: 20%;
    bottom: 32%;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
}

.cancer-research-illustration {
    top: 32%;
    bottom: 0;
    left: 40%;
}

.projects {
    background-image: url(images/project2.jpg);
}

.project-details {
    position: absolute;
    top: 20%;
    bottom: 0.1%;
    right: 1%;
    left: 60%;
    width: 40%;
    height: 80%;
    font-family: roboto;
    line-height: 30px;
    font-weight: 500;
    margin-right: 20px;
}

.project-details li,
.experience-details li {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    box-sizing: border-box;
    background-color: lightblue;
    list-style: none;
    margin: 10px 10px 10px 0;
    padding: 5px;
}

.experience-contents {
    display: flex;
    align-items: center;
}

.experience-details {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    align-content: center;
    flex: 1 1 auto;
    background-image: url(images/project1.jpg);
    height: 100%;
    font-family: roboto;
    font-weight: 500;
    line-height: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.experience-image {
    margin-top: 50px;
    margin-right: 10px;
}

.experience-image img{
    object-fit: cover;
    height: 500px;
    border-radius: 10px;
}

.skills {
    font-family: roboto;
    font-weight: 500;
}

.skills-details {
    display: flex;
    height: 90%;
}

.analytical-skills,
.data-interpretation,
.project-management,
.computer-skills 
{
    height: 100%;
    flex: 1;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin: 20px 5px 0 5px;
    border-radius: 20px;
}

.analytical-skills img,
.data-interpretation img,
.project-management img,
.computer-skills img 
{
    height: 60%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

h3{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px 0;
}

.list-contents {
    padding-left: 5px;
}

.list-contents li {
    font-size: 15px;
    margin-bottom: 10px;
    height: 100%;
    line-height: 20px;
    list-style: none;
    width: 100%;
}

.contacts {
    margin-top: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details p {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
}

.linkedin,
.phone-number,
.email
{
    margin: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-details img {
    height: 30px;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    font-family: roboto;
    font-weight: 400;
    justify-content: space-between;
}

.builtby-details {
    margin: 0 0 20px 10px;
    line-height: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.builtby-details span {
    font-weight: 300;
}

.copyright {
    font-weight: 300;
}