@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: Beliago;
    src: url(./Fonts/BeliagoDemoRegular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8ef;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500 ;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
   color: #560ae3;
}

section {
    height: 100vh;
}


.navbar {
    z-index: 200;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-image {
    margin: 10px 10px 0 5px;
    height: 50px;
    transform: rotate(45deg);
}

.name {
    font-family: Beliago;
    font-size: 30px;
}

.navbar-contents {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}

.navbar-contents li {
    font-family: "Roboto";
    list-style: none;
}

.home {
    background-position: center;
    background-size: cover;
    background-image: url(images/Background-image.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction,
.about {
    margin: 0 10px 5px 10px;
    padding: 10px 10px 0 10px;
    font-family: roboto;
    border-radius: 10px;
}

.about {
    border: 1px solid black;
    align-self: flex-start;
    line-height: 30px;
    width: 410px;
    height: 400px;
}

.about-me {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500 ;
}

.introduction {
    margin-top: 80px;
    align-self: flex-end;
    width: 230px;
    height: 145px;
    margin-left: 450px;
}

.greetings {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500 ;
}

.name-introduction {
    font-size: 30px;
}

.download-button {
    position: fixed;
    left: 10px;
    z-index: 200;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    border: 1px solid black;
    align-items: center;
    background-color: #eae5e5;
    top: 85px;
}

.download-button img {
    margin-left: 5px;
    height: 15px;
}

.name-introduction span {
    text-decoration: underline;
}

.projects {
    width: 100%;
    display: flex;
    background-image: url(images/project2.jpg);
}

.projects-heading {
    flex: 1;
}

.project-details{
    height: 100%;
    display: grid;
    font-family: roboto;
    box-sizing: border-box;
    overflow: auto;
    font-weight: 400;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    flex: 1;
}

.project-details li,
.experience-details li {
    margin: 10px 10px 10px 0;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 25px;
    font-size: 20px;
    background-color: lightblue;
    list-style: none;
}

.experience-content {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.experience-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    background-size: cover;
    flex: 1;
}

.experience-details li {
    box-sizing: border-box;
    background-color: lightpink;
    height: 50%;
    font-family: roboto;
    box-sizing: border-box;
    overflow: auto;
    font-weight: 400;
}

.experience-image{
    flex: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}

.experience-image img {
    border: 1px solid black;
    border-radius: 15px;
    height: 700px;
    width: 700px;
    object-fit: cover;
}

.skills {
    padding-top: 60px;
    font-family: roboto;
    font-weight: 500;
}

.skills-details {
    display: flex;
    height: 90%;
}

.analytical-skills,
.data-interpretation,
.project-management,
.computer-skills 
{
    height: 100%;
    flex: 1;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin: 20px 5px 0 5px;
    border-radius: 20px;
}

.analytical-skills img,
.data-interpretation img,
.project-management img,
.computer-skills img 
{
    height: 60%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

h3{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin: 10px 0;
}

.list-contents {
    padding-left: 5px;
}

.list-contents li {
    font-size: 15px;
    margin-bottom: 10px;
    height: 100%;
    line-height: 20px;
    list-style: none;
    width: 100%;
}

.contacts {
    margin-top: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details p {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
}

.linkedin,
.phone-number,
.email
{
    margin: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-details img {
    height: 30px;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    font-family: roboto;
    font-weight: 400;
    justify-content: space-between;
}

.builtby-details {
    margin: 0 0 20px 10px;
    line-height: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.builtby-details span {
    font-weight: 300;
}

.copyright {
    font-weight: 300;
}